@model Infrastructure.Models.Membro

<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Membro</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.membroNickName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.membroNickName)
            @Html.ValidationMessageFor(model => model.membroNickName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.membroUltimoLogin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.membroUltimoLogin)
            @Html.ValidationMessageFor(model => model.membroUltimoLogin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.membroSenha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.membroSenha)
            @Html.ValidationMessageFor(model => model.membroSenha)
        </div>

    </fieldset>
