@model Axis.Models.LogOnModel
           
<div class="fieldLinha">
    <br />
    <h1>Acesse a Sua Conta</h1>
    <span>Digite seu Emal e senha.</span>
</div>
@using (Html.BeginForm(
                            ViewContext.RouteData.Values["action"].ToString(),
                            ViewContext.RouteData.Values["controller"].ToString(),
                            FormMethod.Post,
                            new { enctype = "multipart/form-data", id = "form_" + ViewContext.RouteData.Values["controller"].ToString() }
                          ))
{
    <div class="fieldLinha">
        <div class="editor-label">
           <strong>@Html.LabelFor(m => m.UserName)</strong>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.UserName) 
            @Html.ValidationMessageFor(m => m.UserName)
        </div>

        <div class="editor-label">
            <strong>@Html.LabelFor(m => m.Password)</strong>
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(m => m.RememberMe)
            <strong>@Html.LabelFor(m => m.RememberMe)</strong>
        </div>
        <div class="editor-label">
            <a href="#" onclick="$('#form_@(ViewContext.RouteData.Values["controller"].ToString())').submit();" >
                <span class="button">Entrar</span>
            </a>
        </div>
    </div>
    <div class="fieldLinha">
        <br />
@*        <h2>Se você não possui uma conta.
            <span class="button">
                @Html.ActionLink("Criar conta", "Index", "Register") 
            </span>
        </h2>*@
    </div><br />
}
